@model WebServiceClientes.Models.CustomerModel

@{
    ViewBag.Title = "Exclusão de Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exclusão</h2>

<h3>Você tem certeza que quer excluir este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusFinanceiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoStatusFinanceiro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
